<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width ,intial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <strong>POKEMONs</strong>
        {{ pk }}
        <br>
        {{ name }}
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit">
        </form>
        <strong>{{ details }}</strong>
        {% if details in name %}
            <br>
            <img src="{{ url }}" alt="">
            <br>
            <h5>USING DJANGO TEMPLATE TAG</h5>
            <a href="{% url 'link' number %}">PHOTO</a>
            <br>
            <h5>BY ENTERING THE VARIABLE NUMBER ACCORDING TO POKEMON</h5>
            <a href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ number }}.png">PHOTO</a>
        {% endif %}
    </body>
</html>