<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="pokemon" placeholder="Please enter the pokemon name">
        <input type="submit">
    </form><br>
    <strong> {{ name }} </strong>
    <br>
    <br>
    <strong>{{ details }}</strong>
    <br>
    {% if details in name %}
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ number }}.png" alt="">
        <br>
        <H5>USING DJANGO TEMPLATE TAG</H5>
        <a href="{% url 'link' number %}">PHOTO</a>
        <br>
        <h5>BY ENTERING THE VARIABLE NUMBER ACCORDING TO POKEMON</h5>
        <a href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ number }}.png">PHOTO</a>
    {% endif %}
</body>
</html>